{% extends 'base.html' %}
{% block content %}
    <head>
        <title>
            Items List
        </title>
    </head>
    <h1>
        Items
    </h1>
    <ul>
        {% for item in items %}
            <li>
                {{ item.name }} <a href="{{ url_for('update', idNum=item.idNum) }}">Edit</a>
                <form action="{{ url_for('delete', idNum=item.idNum) }}"
                method="POST"
                style="display:inline;">
                    <button type="submit">
                        Delete
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('create') }}">
        Add new Items
    </a>

{% endblock %}